In [1]:
import requests
res = requests.get("https://api.airtable.com/v0/appNcYtL8fFZa1STA/iris/rec6Q7KRoDI9SGWbv?api_key=keyshdNC8CZdj1xgo")
print (res.text)

{"id":"rec6Q7KRoDI9SGWbv","fields":{"花萼長度":"5.1","花萼寬度":"3.5","花瓣長度":"1.4","花瓣寬度":"0.2","屬種":"Iris-setosa"},"createdTime":"2017-10-07T07:32:40.000Z"}

In [2]:
import json
result = json.loads(res.text) #經過json.load後，從string轉為list type
result

{'createdTime': '2017-10-07T07:32:40.000Z',
 'fields': {'屬種': 'Iris-setosa',
  '花瓣寬度': '0.2',
  '花瓣長度': '1.4',
  '花萼寬度': '3.5',
  '花萼長度': '5.1'},
 'id': 'rec6Q7KRoDI9SGWbv'}

In [3]:
result['fields'].keys()

dict_keys(['花萼長度', '花萼寬度', '花瓣長度', '花瓣寬度', '屬種'])

In [4]:
result['fields'].values()

dict_values(['5.1', '3.5', '1.4', '0.2', 'Iris-setosa'])

In [5]:
columns = ['id'] + list(result['fields'].keys()) + ['createdTime']
columns #先存下欄位名稱

['id', '花萼長度', '花萼寬度', '花瓣長度', '花瓣寬度', '屬種', 'createdTime']

In [6]:
result['id']

'rec6Q7KRoDI9SGWbv'

In [7]:
import pandas as pd
df_id = pd.DataFrame([result['id']])
df_id

                   0
0  rec6Q7KRoDI9SGWbv

In [8]:
df_fields = pd.DataFrame(list(result['fields'].values()))
df_fields = df_fields.values.reshape(1,-1) #rows to columns
df_fields = pd.DataFrame(df_fields)
df_fields

     0    1    2    3            4
0  5.1  3.5  1.4  0.2  Iris-setosa

In [9]:
df_ct = pd.DataFrame([result['createdTime']])
df_ct

                          0
0  2017-10-07T07:32:40.000Z

In [10]:
#欄位合併:
df_iris = pd.merge(df_id, df_fields, left_index=True, right_index=True)

In [11]:
df_iris = pd.merge(df_iris, df_ct, left_index=True, right_index=True)

In [12]:
#給予欄位名稱
df_iris.columns = columns
df_iris

,id,花萼長度,花萼寬度,花瓣長度,花瓣寬度,屬種,createdTime
0,rec6Q7KRoDI9SGWbv,5.1,3.5,1.4,0.2,Iris-setosa,2017-10-07T07:32:40.000Z